.contenido{
    background-color: var(--color7);
    position: absolute;
    margin: 0;
    border: none;
    width: 100%;
    height: 92%;
    overflow: hidden;
    top:11%;
    z-index: 0;
    }
    
    .box1{
    background: var(--color7);
    background-image: url(/imagenes/figura13.png);
    box-shadow: 0 .1rem .6rem rgba(0, 0, 0, 0.534);
    position: absolute;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
     border-radius: 4px;
     width: 100%;
     height: 90%;
     top: 0%;
     left: 0%;
     z-index: -1;
     overflow: auto;
    }
 

    
    .box1::-webkit-scrollbar{
        width: 9px;
      }
      
      .box1::-webkit-scrollbar-thumb{
        background:var(--color9);
        border-radius: 5px;      
      }