

  
  /* Modifier */

  .btn:hover {
    opacity: 0.8;
  }


  /* TOAST */
  #toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 99;
  }
  
  .toast {
    display: flex;
    align-items: center;
    min-width: 400px;
    max-width: 450px;
    -webkit-backdrop-filter: blur(8px); /* Safari 9+ */
    backdrop-filter: blur(4px); /* Chrome and Opera */
    background-color: var(--color14);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    /* animation: slideLeft ease 0.3s, fadeOut linear 1s 3s forwards; */
    transition: all linear 0.3s;
  }
  
  @keyframes slideLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
  
  .toast--success {
    border-color: #47d864;
  }
  
  .toast--success .toast__icon {
    color: #47d864;
  }
  
  .toast--info {
    border-color: #2f86eb;
  }
  
  .toast--info .toast__icon {
    color: #2f86eb;
  }
  
  .toast--warning {
    border-color: #ffc021;
  }
  
  .toast--warning .toast__icon {
    color: #ffc021;
  }
  
  .toast--error {
    border-color: var(--color5);
  }
  
  .toast--error .toast__icon {
    color: var(--color5);
  }
  
  .toast + .toast {
    margin-top: 20px;
  }
  
  .toast__icon {
    font-size: 24px;
  }
  
  .toast__close,
  .toast__icon {
    padding: 0 16px;
  }
  
  .toast__body {
    flex-grow: 1;
  }
  
  .toast__title {
    font-weight: 600;
    font-size: 14px;
    color: var(--color4);
  }
  
  .toast__msg {
    margin-top: 6px;
    font-size: 12px;
    line-height: 1.6;
    color:var(--color4);
  }
  
  .toast__close {
    font-size: 20px;
    color: var(--color4);
    cursor: pointer;
  }
  
  .toast__close:hover {
    opacity: 0.3;
  }
  